<div class="row">
  <div class="col-md-10">
    <h2>Listing posts</h2>
  </div>
  <div class="col-md-2">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-info', role: 'button' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <%# chcemy miec full title: %>
      <td><%= post.full_title %></td>
      <td><%= post.body %></td>
      <td><%= post.user.email %></td>
      <td><%= link_to 'Show', post %></td>
      <% if current_user.present? and current_user.id == post.user_id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br />