<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %>
<h5> ilosc wyswietlen <%= @post.visits_count %></h5>
<%= link_to 'Alerts', alert_post_path %>

<p>
  <b>Author:</b>

  <%= @post.user.email %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<% if @post.avatar? %>
  <%= link_to @post.avatar.url, :target => '_blank' do %>
    <%= image_tag @post.avatar.url(:thumb) %>
  <% end %>
<% end %>

<hr>
<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :author, "author" %><br/>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body, "New comment" %><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>

<% end %>
