<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'main page', root_path %></li>
        <li><%= link_to 'blog', posts_path %></li>
        <li><%= link_to 'contact', contacts_new_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'edytuj profil', edit_user_registration_path %></li>
          <li><%= link_to 'wyloguj', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to 'zaloguj sie', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

