<h1>WinterPromo#show</h1>
<% unless @error.nil? %>
  <p id="errors"><%= @error %></p>
<% end %>


<%= form_tag winter_promo_save_path do %>
  <div>
    <%= text_field_tag 'winter_promo[email]' %>
  </div>
  <div>
    <%= text_field_tag 'winter_promo[name]' %>
  </div>
  <div>
    <%= text_field_tag 'winter_promo[surname]' %>
  </div>
  <%= submit_tag %>
<% end %>
